{{ $ := .root }}
{{ $page := .page }}
{{ $cols_css := "col-lg-16" }}

<!-- Experience widget -->
<div class="row">
  {{ if not (eq $page.Params.view 2) }}
  {{ $cols_css = "col-lg-8" }}
  <div class="col-16 col-lg-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
  {{ end }}
  <div class="col-16 {{ $cols_css }}">
    {{ with $page.Content }}{{ . }}{{ end }}

    {{ if $page.Params.experience }}
    {{ $exp_len := len $page.Params.experience }}
    {{ range $idx, $key := sort $page.Params.experience (default now ".date_end" ) "desc" }}
    <div class="row experience">
      <!-- Timeline -->
      <div class="col-auto text-center flex-column d-none d-sm-flex">
        <div class="row h-50">
          <div class="col {{if gt $idx 0}}border-right{{end}}">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
        <div class="m-2">
          <span class="badge badge-pill border {{if not .date_end}}exp-fill{{end}}">&nbsp;</span>
        </div>
        <div class="row h-50">
          <div class="col {{if lt $idx (sub $exp_len 1)}}border-right{{end}}">&nbsp;</div>
          <div class="col">&nbsp;</div>
        </div>
      </div>
      <!-- Content -->
      <div class="col py-2">
        <div class="card card-wide">
          {{ with .logo }}
          <div class="card-right">
            <img src="/images/logos/{{ . }}" class="logo" itemprop="image" alt="">
          </div>
          {{ end }}
          <div class="card-body">
            <h3 class="card-title exp-title text-muted mt-0 mb-1">{{.title | markdownify | emojify}}</h3>
            <h3 class="card-title exp-company text-muted my-0">
              {{- with .company_url}}<a href="{{.}}" target="_blank" rel="noopener">{{end}}{{.company | markdownify | emojify}}{{with .company_url}}</a>{{end -}}
            </h3>
            <div class="text-muted exp-meta">
              {{ (time .date_start).Format ($page.Params.date_format | default "January 2006") }} –
              {{ if .date_end}}
                {{ (time .date_end).Format ($page.Params.date_format | default "January 2006") }}
              {{else}}
                {{ i18n "present" | default "Present" }}
              {{end}}
              {{with .location}}
                <span class="middot-divider"></span>
                <span>{{.}}</span>
              {{end}}
            </div>
            {{with .description}}<div class="card-text">{{. | markdownify | emojify}}</div>{{end}}
          </div>
        </div>
      </div>
    </div>
    {{end}}
    {{end}}

  </div>

</div>

<div class="cta">
  {{/* Call-to-action link */}}
  {{ if $page.Params.cta.url }}
  {{ $pack := or $page.Params.cta.icon_pack "fas" }}
  {{ $pack_prefix := $pack }}
  {{ if in (slice "fab" "fas" "far" "fal") $pack }}
  {{ $pack_prefix = "fa" }}
  {{ end }}
  {{ $link := $page.Params.cta.url }}
  {{ $scheme := (urls.Parse $link).Scheme }}
  {{ $target := "" }}
  {{ if not $scheme }}
  {{ $link = $link | relLangURL }}
  {{ else if in (slice "http" "https") $scheme }}
  {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
  {{ end }}
  <p class="cta-btns">
    <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }} class="btn-outline-primary btn btn-lg see-all">{{ if $page.Params.cta.icon }}<i class="{{ $pack }} {{ $pack_prefix }}-{{ $page.Params.cta.icon }} pr-1" aria-hidden="true"></i>{{end}}{{ $page.Params.cta.label | markdownify | emojify | safeHTML }}</a>

    {{/* Alternative Call-to-action link */}}
    {{ if $page.Params.cta_alt.url }}
    {{ $link := $page.Params.cta_alt.url }}
    {{ $scheme := (urls.Parse $link).Scheme }}
    {{ $target := "" }}
    {{ if not $scheme }}
    {{ $link = $link | relLangURL }}
    {{ else if in (slice "http" "https") $scheme }}
    {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
    {{ end }}
    <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }} class="hero-cta-alt pl-4">{{ $page.Params.cta_alt.label | markdownify | emojify | safeHTML }} <i class="fas fa-angle-right"></i></a>
    {{ end }}
  </p>
  {{ end }}

  {{/* Call-to-action note */}}
  {{ with $page.Params.cta_note }}
  <p class="hero-note text-muted mb-0">
    {{ .label | markdownify | emojify | safeHTML }}
  </p>
  {{ end }}

</div>
