{{- define "main" -}}

<div class="universal-wrapper">

{{ partial "page_header.html" . }}
{{ $page := . }}

<article class="article" itemscope itemtype="http://schema.org/Article">

  <div class="article-container">

    <div class="article-style" itemprop="articleBody">

      <article>

        <main class="post">

        <div class="post  -info">
          <p>
            {{ if .IsTranslated }}
            | {{ i18n "postAvailable" }}
            {{ range .Translations }}
            <a href="{{ .Permalink }}"><span class="flag flag-icon flag-icon-{{ index $.Site.Data.langFlags (.Lang) }} flag-icon-squared"></span></a>
            {{ end}}
            {{ end }}
            {{ partial "page_metadata" (dict "page" $page "is_list" 0 "share" true) }}
          </p>
        </div>

            <div class="book-cover">
            {{ with .Params.Cover }}
                <img src="{{ . }}" class="book-cover-image" />
            {{ end }}
            </div>

            <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
            {{ with .Params.bookAuthor }}
                <h3>by {{ . }}</h3>
            {{ end }}

            {{- if .Params.toc }}
                <aside id="toc">
                <div class="toc-title"><h3>{{ i18n "tableOfContents" }}</h3></div>
                    {{ .TableOfContents }}
                </aside>
            {{- end }}

            <div style="clear:both;"/>

            {{ if .Params.abstract }}
            <div class="book-abstract">
                <h3>{{ i18n "abstract" }}</h3>
                <p class="pub-abstract" itemprop="text">{{ .Params.abstract | markdownify }}</p>
            </div>
            {{ end }}

            <div class="post-content">
              {{ if .Params.crosslink }}
              {{ $related := .Site.RegularPages.RelatedIndices . "crosslink" }}
              {{ .Scratch.Set "content" .Content }}
              {{ with $related }}
              {{ range . }}
              {{ $title := .Params.title }}
              {{ $permalink := .Permalink }}

              {{ $content := replaceRE (printf "(%s)/" (lower $title)) "meeeeeeeeeeeeeep" ($.Page.Scratch.Get "content") }}
              {{ $.Page.Scratch.Set "content" $content }}

              {{ $content := replaceRE (printf "(.*)\\b(%s|%s|%s)\\b" (lower $title) $title (title $title)) (printf "$1[$2](%s)" $permalink | markdownify ) ($.Page.Scratch.Get "content") }}
              {{ $.Page.Scratch.Set "content" $content }}

              {{ $content := replaceRE "meeeeeeeeeeeeeep" (printf "%s/" (lower $title)) ($.Page.Scratch.Get "content") }}
              {{ $.Page.Scratch.Set "content" $content }}

              {{ end }}
              {{ end }}
              {{ .Scratch.Get "content" | safeHTML }}
              {{ else }}
              {{ .Content }}
              {{ end }}
            </div>

        <hr />

        <div class="post-info">
            {{- with .Params.categories }}
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag meta-icon"><path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path><line x1="7" y1="7" x2="7" y2="7"></line></svg>
                    {{- range . -}}
                         <span class="category"><a href="{{ "categories/" | absURL }}{{ . | urlize }}">{{.}}</a></span>&nbsp;
                    {{- end }}
                </p>
            {{- end }}
            {{- with .Params.tags }}
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag meta-icon"><path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path><line x1="7" y1="7" x2="7" y2="7"></line></svg>
                    {{- range . -}}
                         <span class="tag"><a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{.}}</a></span>
                    {{- end }}
                </p>
            {{- end }}

            <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>{{ i18n "wordCount" .Page.WordCount }}</p>

            <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>{{ if .Site.Params.dateformNumTime }}{{ dateFormat .Site.Params.dateformNumTime .Date.Local }}{{ else }}{{ dateFormat "2006-01-02 15:04 -0700" .Date.Local }}{{ end }}</p>

            {{- if .GitInfo }}
                <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg><a href="{{ .Site.Params.gitUrl -}}{{ .GitInfo.Hash }}" target="_blank" rel="noopener">{{ .GitInfo.AbbreviatedHash }}</a> @ {{ if .Site.Params.dateformNum }}{{ dateFormat .Site.Params.dateformNum .GitInfo.AuthorDate.Local }}{{ else }}{{ dateFormat "2006-01-02" .GitInfo.AuthorDate.Local }}{{ end }}</p>
            {{- end }}
        </div>


        {{ if .Params.comments }}
          <div id="comments" class="thin">
                {{- partial "comments.html" . -}}
            </div>
        {{ end }}
        </main>
      </article>
    </div>
  </div>
</article>
</div>
{{ end }}
