{{- define "main" -}}


    <div class="universal-wrapper">
      <div class="card-simple"></div>

        {{ partial "page_header.html" . }}


        <div class="article-style" itemprop="articleBody">

                  <main class="post">

                      <article>
                        <h3 class="article-title mb-1 mt-3" itemprop="name">
                          <a href="{{ .RelPermalink }}" itemprop="url">{{ .Title | markdownify }}</a>
                        </h3>
                        {{/* If `authors` is set and is not empty. */}}
                        {{ if .Params.authors }}
                        {{ $authorLen := len .Params.authors }}
                        {{ if gt $authorLen 0 }}
                        <div class="authors">
                          {{ partial "page_metadata_authors" . }}
                        </div>
                        {{ end }}
                        {{ end }}

                          {{- if .Params.toc }}
                              <hr />
                              <aside id="toc">
                                  <div class="toc-title">{{ i18n "tableOfContents" }}</div>
                                  {{ .TableOfContents }}
                              </aside>
                              <hr />
                          {{- end }}

                          {{ with .Params.Cover }}
                              <img src="{{ . }}" class="post-cover" />
                          {{ end }}

                          <div class="post-content">
                            {{ if .Params.crosslink }}
                            {{ $related := .Site.RegularPages.RelatedIndices . "crosslink" }}
                            {{ .Scratch.Set "content" .Content }}
                            {{ with $related }}
                            {{ range . }}
                            {{ $title := .Params.title }}
                            {{ $permalink := .Permalink }}

                            {{ $content := replaceRE (printf "(%s)/" (lower $title)) "meeeeeeeeeeeeeep" ($.Page.Scratch.Get "content") }}
                            {{ $.Page.Scratch.Set "content" $content }}

                            {{ $content := replaceRE (printf "(.*)\\b(%s|%s|%s)\\b" (lower $title) $title (title $title)) (printf "$1[$2](%s)" $permalink | markdownify ) ($.Page.Scratch.Get "content") }}
                            {{ $.Page.Scratch.Set "content" $content }}

                            {{ $content := replaceRE "meeeeeeeeeeeeeep" (printf "%s/" (lower $title)) ($.Page.Scratch.Get "content") }}
                            {{ $.Page.Scratch.Set "content" $content }}

                            {{ end }}
                            {{ end }}
                            {{ .Scratch.Get "content" | safeHTML }}
                            {{ else }}
                            {{ .Content }}
                            {{ end }}

                            {{ partial "page_metadata" (dict "page" . "is_list" 1) }}
                          </div>
                      </article>

                      {{ if or .NextInSection .PrevInSection }}
                          <div class="pagination">
                              <div class="pagination__title">
                                  <span class="pagination__title-h">{{ .Site.Params.ReadOtherPosts }}</span>
                                  <hr />
                              </div>

                              <div class="pagination__buttons">
                                  {{ if .NextInSection }}
                                      <span class="button previous">
                              <a href="{{ .NextInSection.Permalink }}">
                                  <span class="button__icon">←</span>
                                  <span class="button__text">{{ .NextInSection.Title }}</span>
                              </a>
                          </span>
                                  {{ end }}

                                  {{ if .PrevInSection }}
                                      <span class="button next">
                              <a href="{{ .PrevInSection.Permalink }}">
                                  <span class="button__text">{{ .PrevInSection.Title }}</span>
                                  <span class="button__icon">→</span>
                              </a>
                          </span>
                                  {{ end }}
                              </div>
                          </div>
                      {{ end }}

                      {{ if .Params.comments }}
                          <div id="comments" class="thin">
                              {{- partial "comments.html" . -}}
                          </div>
                      {{ end }}
                  </main>

              </div>


  {{/*        {{ $paginator := .Paginate .Data.Pages }}*/}}
  {{/*        {{ range $paginator.Pages }}*/}}
  {{/*            {{ if eq $.Params.view 1 }}*/}}
  {{/*                {{ partial "li_list" . }}*/}}
  {{/*            {{ else if eq $.Params.view 3 }}*/}}
  {{/*                {{ partial "li_card" . }}*/}}
  {{/*            {{ else }}*/}}
  {{/*                {{ partial "li_compact" . }}*/}}
  {{/*            {{ end }}*/}}
  {{/*        {{ end }}*/}}

  {{/*        {{ partial "pagination" . }}*/}}
      </div> <!-- card-simple -->
    </div> <!-- universal-wrapper -->

{{- end -}}


{{ define "main" }}
{{ end }}
