{{- define "main" -}}

<div class="universal-wrapper">

  {{ partial "page_header.html" . }}

  <article class="article" itemscope itemtype="http://schema.org/Article">

    {{ $page := . }}

    <div class="article-container">

      <div class="article-style" itemprop="articleBody">
        <main class="post">
          {{ with .Params.Cover }}
            <img src="{{ . }}" class="post-cover" />
          {{ end }}

          <div class="post-info">
            <p>
              {{ if .IsTranslated }}
                | {{ i18n "postAvailable" }}
                {{ range .Translations }}
                  <a href="{{ .Permalink }}"><span class="flag flag-icon flag-icon-{{ index $.Site.Data.langFlags (.Lang) }} flag-icon-squared"></span></a>
                {{ end}}
              {{ end }}
              {{ partial "page_metadata" (dict "page" $page "is_list" 0 "share" true) }}
            </p>
          </div>

          <article>

            <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>

            {{- if .Params.toc }}
              <hr />
              <aside id="toc">
                <div class="toc-title">{{ i18n "tableOfContents" }}</div>
                {{ .TableOfContents }}
              </aside>
              <hr />
            {{- end }}

            <div class="post-content">
              {{ if .Params.crosslink }}
              {{ $related := .Site.RegularPages.RelatedIndices . "crosslink" }}
              {{ .Scratch.Set "content" .Content }}
              {{ range $related }}

              {{ $title := .Params.title }}
              {{ $permalink := .Permalink }}

              {{ $content := replaceRE (printf "(%s)" (lower $title)) "meeeeeeeeeeeeeep" ($.Page.Scratch.Get "content") }}
              {{ $.Page.Scratch.Set "content" $content }}

              {{ $content := replaceRE (printf "(.*)\\b(%s|%s|%s)\\b(.*)" (lower $title) $title (title $title)) (printf "$1[$2](%s)$3" $permalink | markdownify ) ($.Page.Scratch.Get "content")}}
              {{ $.Page.Scratch.Set "content" $content }}

              {{ $content := replaceRE "meeeeeeeeeeeeeep" (printf "%s" (lower $title)) ($.Page.Scratch.Get "content") }}
              {{ $.Page.Scratch.Set "content" $content }}

              {{ end }}
              {{ $.Scratch.Get "content" | markdownify }}
              {{ else }}
              {{ .Content }}
              {{ end }}

            </div>
          </article>

          <hr />

          {{ if .Params.comments }}
            <div id="comments" class="thin">
              {{- partial "comments.html" . -}}
            </div>
          {{ end }}
        </main>

      </div>

      {{ partial "edit_page" . }}

      {{ partial "tags" . }}

      {{ if ne .Type "page" }}
        {{ partial "page_author" . }}
        {{ $related := site.RegularPages.Related . | first 5 }}
  {{/*      {{ with $related }}*/}}
  {{/*      <div class="article-widget">*/}}
  {{/*        <div class="hr-light"></div>*/}}
  {{/*        <h3>{{ i18n "related" }}</h3>*/}}
  {{/*        <ul>*/}}
  {{/*          {{ range . }}*/}}
  {{/*          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>*/}}
  {{/*          {{ end }}*/}}
  {{/*        </ul>*/}}
  {{/*      </div>*/}}
  {{/*      {{ end }}*/}}
      {{ end }}

      {{ if site.Params.section_pager }}
      <div class="article-widget">
        {{ partial "section_pager" . }}
      </div>
      {{ end }}

      {{ partial "comments" . }}

    </div>
  </article>
</div>

{{- end -}}
