{{- define "main" -}}

{{ partial "page_header.html" . }}

<article class="article" itemscope itemtype="http://schema.org/Article">

  {{ $page := . }}

  <div class="article-container">

    <div class="article-style" itemprop="articleBody">
      <main class="post">
        {{ with .Params.Cover }}
          <img src="{{ . }}" class="post-cover" />
        {{ end }}

        <div class="post-info">
          <p>
            {{ if .IsTranslated }}
              | {{ i18n "postAvailable" }}
              {{ range .Translations }}
                <a href="{{ .Permalink }}"><span class="flag flag-icon flag-icon-{{ index $.Site.Data.langFlags (.Lang) }} flag-icon-squared"></span></a>
              {{ end}}
            {{ end }}
            {{ partial "page_metadata" (dict "page" $page "is_list" 0 "share" true) }}
          </p>
        </div>

        <article>

          <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>

          {{- if .Params.toc }}
            <hr />
            <aside id="toc">
              <div class="toc-title">{{ i18n "tableOfContents" }}</div>
              {{ .TableOfContents }}
            </aside>
            <hr />
          {{- end }}

          <div class="post-content">
            {{ if .Params.crosslink }}
              {{ $related := .Site.RegularPages.RelatedIndices . "crosslink" }}
              {{ .Scratch.Set "content" .Content }}
              {{ with $related }}
                {{ range . }}
                  {{ $title := .Params.title }}
                  {{ $permalink := .Permalink }}

                  {{ $content := replaceRE (printf "(%s)/" (lower $title)) "meeeeeeeeeeeeeep" ($.Page.Scratch.Get "content") }}
                  {{ $.Page.Scratch.Set "content" $content }}

                  {{ $content := replaceRE (printf "(.*)\\b(%s|%s|%s)\\b" (lower $title) $title (title $title)) (printf "$1[$2](%s)" $permalink | markdownify ) ($.Page.Scratch.Get "content") }}
                  {{ $.Page.Scratch.Set "content" $content }}

                  {{ $content := replaceRE "meeeeeeeeeeeeeep" (printf "%s/" (lower $title)) ($.Page.Scratch.Get "content") }}
                  {{ $.Page.Scratch.Set "content" $content }}

                {{ end }}
              {{ end }}
              {{ .Scratch.Get "content" | safeHTML }}
            {{ else }}
              {{ .Content }}
            {{ end }}
          </div>
        </article>

        <hr />

        <div class="post-info">
          {{- with .Params.tags }}
            <p>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag meta-icon"><path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path><line x1="7" y1="7" x2="7" y2="7"></line></svg>
              {{- range . -}}
                <span class="tag"><a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{.}}</a></span>
              {{- end }}
            </p>
          {{- end }}

          {{- if .GitInfo }}
            <p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg><a href="{{ .Site.Params.gitUrl -}}{{ .GitInfo.Hash }}" target="_blank" rel="noopener">{{ .GitInfo.AbbreviatedHash }}</a> @ {{ if .Site.Params.dateformNum }}{{ dateFormat .Site.Params.dateformNum .GitInfo.AuthorDate.Local }}{{ else }}{{ dateFormat "2006-01-02" .GitInfo.AuthorDate.Local }}{{ end }}</p>
          {{- end }}
        </div>

        {{ if .Params.comments }}
          <div id="comments" class="thin">
            {{- partial "comments.html" . -}}
          </div>
        {{ end }}
      </main>

    </div>

    {{ partial "edit_page" . }}

    {{ partial "tags" . }}

    {{ if ne .Type "page" }}
      {{ partial "page_author" . }}
      {{ $related := site.RegularPages.Related . | first 5 }}
{{/*      {{ with $related }}*/}}
{{/*      <div class="article-widget">*/}}
{{/*        <div class="hr-light"></div>*/}}
{{/*        <h3>{{ i18n "related" }}</h3>*/}}
{{/*        <ul>*/}}
{{/*          {{ range . }}*/}}
{{/*          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>*/}}
{{/*          {{ end }}*/}}
{{/*        </ul>*/}}
{{/*      </div>*/}}
{{/*      {{ end }}*/}}
    {{ end }}

    {{ if site.Params.section_pager }}
    <div class="article-widget">
      {{ partial "section_pager" . }}
    </div>
    {{ end }}

    {{ partial "comments" . }}

  </div>
</article>

{{- end -}}
