.footer {
  padding: 40px 20px;
  flex-grow: 0;
  //color: $light-color-secondary;
  z-index: 1;
  font-family: $sta-font-nav;
  font-size: 1.1em;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 760px;
    max-width: 100%;

  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > *:not(:last-child) {
      border-right: 1px solid;
      padding: 0 15px;
    }

    & > *:last-child {
      padding: 0 15px;
    }
  }
}
