{{- define "main" -}}
{{ $archYear := .Date.Format "2006" }}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">

  <h3>Archives</h3>
  <ul class="years">
    {{ range where .Site.Pages "Section" "archives" }}
    {{ $title := .Title }}
    {{ if not (eq $title "Archives") }}
    {{ $year := .Date.Format "2006" }}
    <li>
      <a href="{{ .Permalink }}">{{ $year }}</a>
      <ul class="months">
        {{ range where .Site.Pages "Section" "archm" }}
        {{ if eq (.Date.Format "2006") $year }}
        <li><a href="{{ .Permalink }}">{{ .Date.Format "January" }}</a></li>
        {{ end }}
        {{ end }}
      </ul>
    </li>
    {{ end }}
    {{ end }}
  </ul>

</div>

{{- end -}}
