{{- define "main" -}}
{{ $archYear := .Date.Format "2006" }}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">

    <h2>Archive for {{ $archYear }}</h2>


    {{ range where .Site.Pages "Section" "post" }}
      {{ if eq (.Date.Format "2006") $archYear }}

        {{ if eq $.Params.view 1 }}
        {{ partial "li_list" . }}
        {{ else if eq $.Params.view 3 }}
        {{ partial "li_card" . }}
        {{ else if eq $.Params.view 4 }}
        {{ partial "li_compact" . }}
        {{ else }}
        {{ partial "li_showcase" . }}
        {{ end }}


      {{ end }}
    {{ end }}

</div>

{{- end -}}
