{{ if .Params.crosslink }}
  {{ $related := .Site.Pages.RelatedIndices . "crosslink" }}
  {{ .Scratch.Set "content" .Content }}
  {{ with $related }}
    {{ range . }}
      {{ if .Params.title }}
        {{ $title := .Params.title }}
        {{ $permalink := .Permalink }}

        {{ $content := replaceRE (printf "(%s)/" (lower $title)) "meeeeeeeeeeeeeep" ($.Page.Scratch.Get "content") }}
        {{ $.Page.Scratch.Set "content" $content }}

        {{ $content := replaceRE (printf "(.*)\\b(%s|%s|%s)\\b" (lower $title) $title (title $title)) (printf "$1[$2](%s)" $permalink | markdownify ) ($.Page.Scratch.Get "content") }}
        {{ $.Page.Scratch.Set "content" $content }}

        {{ $content := replaceRE "meeeeeeeeeeeeeep" (printf "%s/" (lower $title)) ($.Page.Scratch.Get "content") }}
        {{ $.Page.Scratch.Set "content" $content }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ .Scratch.Get "content" | safeHTML }}
{{ else }}
  {{ .Content }}
{{ end }}
