{{ $item := . }}

{{ $microdata_type := "CreativeWork" }}
{{ $show_buttons := false }}

{{/* Dynamic view adjusts to content type. */}}
{{ if eq $item.Type "post" }}
  {{ $microdata_type = "BlogPosting" }}
{{ else if eq $item.Type "talk" }}
  {{ $microdata_type = "Event" }}
  {{ $show_buttons = true }}
{{ else if eq $item.Type "publication" }}
  {{ $microdata_type = "ScholarlyArticle" }}
  {{ $show_buttons = true }}
{{ end }}

{{/* Get summary. */}}
{{ $summary := "" }}
{{ if $item.Params.summary }}
  {{ $summary = $item.Params.summary | markdownify | emojify }}
{{ else if .Params.abstract }}
  {{ $summary = .Params.abstract | markdownify | emojify }}
{{ else if $item.Truncated }}
  {{ $summary = $item.Summary }}
{{ else }}
  {{ $summary = $item.Content }}
{{ end }}

<div class="card-simple" itemscope itemtype="http://schema.org/{{$microdata_type}}">

  {{ $resource := ($item.Resources.ByType "image").GetMatch "*[featured|cover]*" }}
  {{ $anchor := $item.Params.image.focal_point | default "Smart" }}
  {{ with $resource }}
  {{ $image := .Fill (printf "918x517 q90 %s" $anchor) }}
  <div class="card-featured-image-wrapper">
    <a href="{{ $item.RelPermalink }}">
        <img src="{{ $image.RelPermalink }}" class="article-banner" itemprop="image" alt="">
    </a>
  </div>
  {{end}}

  <h3 class="article-title mb-1 mt-3" itemprop="name">
    <a href="{{ $item.RelPermalink }}" itemprop="url">{{ $item.Title }}</a>
  </h3>

  {{/* If `authors` is set and is not empty. */}}
  {{ if $item.Params.authors }}
  {{ $authorLen := len $item.Params.authors }}
  {{ if gt $authorLen 0 }}
  <div class="authors">
    {{ partial "page_metadata_authors" $item }}
  </div>
  {{ end }}
  {{ end }}

  {{ with $summary }}
  <div class="article-style" itemprop="articleBody">
    {{ . }}
  </div>
  {{ end }}

  <div class="article-style">
    <a href="{{ $item.RelPermalink }}">...more</a>
  </div>

  {{ if eq $item.Type "talk" }}
  <div class="article-metadata">
    {{ if $item.Params.authors }}
    <div itemprop="author">
      {{ partial "page_metadata_authors" $item }}
    </div>
    {{ end }}
    <span itemprop="startDate">
      {{ partial "functions/get_event_dates" $item }}
    </span>
    {{ with $item.Params.location }}
    <span class="middot-divider"></span>
    <span itemprop="location">{{ . }}</span>
    {{ end }}
  </div>
  {{ else }}
  {{ partial "page_metadata" (dict "page" $item "is_list" 1) }}
  {{ end }}

  {{ if $show_buttons }}
  <div class="btn-links">
    {{ partial "page_links" (dict "page" $item "is_list" 1) }}
  </div>
  {{ end }}

</div>
