<!-- Brand and toggle get grouped for better mobile display -->
<a class="navbar-brand" href="{{ "/" | relLangURL }}">
    <div class="logo">
        {{ if .Site.Params.Logo.path }}
            <img src="{{ .Site.Params.Logo.path }}" alt="{{ .Site.Params.Logo.alt }}" />
        {{ else }}
            <span class="logo__mark">></span>
            <span class="logo__text">{{ with .Site.Params.Logo.logoText }}{{ . }}{{ else }}hello{{ end }}</span>
            <span class="logo__cursor"></span>
        {{ end }}
    </div>
</a>
