<footer class="footer">
    <div class="footer__inner">
        <div class="footer__content">

            <div class="header_socials">
              <span class="header_socials">
              {{- with .Site.Params.social }}
                  {{ partialCached "social-icons.html" . }}
              {{- end }}
              </span>
            </div>

            {{ with site.GetPage "privacy.md" }}
              <span>
                {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
              </span>
            {{ end }}

            <span>
                {{ with site.Copyright }}{{ replace . "{year}" now.Year | markdownify}} {{ end }}
            </span>
        </div>
    </div>

    {{ if ne .Type "docs" }}
        <p class="powered-by">
            <span class="float-right" aria-hidden="true">
              <a href="#" id="back_to_top">
                <span class="button_icon"><i class="fas fa-chevron-up fa-2x"></i></span>
              </a>
            </span>
        </p>
    {{ end }}

</footer>
