{{- define "main" -}}


<div class="universal-wrapper">
  {{ partial "page_header.html" . }}
  <div class="article-style" itemprop="articleBody">
    {{ if .Content }}
      {{ partial "content" . }}
    {{ end }}
    <div class="note-list">

      {{ range .Pages.ByTitle }}

      {{ if .Params.publication_types }}
      {{ $.Scratch.Set "pubtype" (index .Params.publication_types 0) }}
      {{ else }}
      {{ $.Scratch.Set "pubtype" 0 }}
      {{ end }}

      <div class="pubtype-{{ $.Scratch.Get "pubtype" }} year-{{ .Date.Format "2006" }}">
      {{ if eq $.Params.view 1 }}
      {{ partial "li_list" . }}
      {{ else if eq $.Params.view 3 }}
      {{ partial "li_card" . }}
      {{ else if eq $.Params.view 4 }}
      {{ partial "li_citation" . }}
      {{ else if eq $.Params.view 5 }}
      {{ partial "li_showcase" . }}
      {{ else if eq $.Params.view 2 }}
      {{ partial "li_compact" . }}
      {{ end }}
    </div>
    {{ end }}

    {{ if eq $.Params.view 6 }}
    <ul>
      {{ range .Pages.ByTitle }}
      {{ partial "li_li" . }}
      {{ end }}
    </ul>
    {{ end }}

    {{ partial "page_metadata" (dict "page" . "is_list" 1) }}
  </div>
</div>

{{ partial "tags" . }}

  <ul class="list-unstyled">
    {{ if gt (len .Sections) 0}}
    {{ range .Sections }}
    <li><h5><a href="{{.RelPermalink}}">{{.LinkTitle}}</a></h5> {{with .Params.summary}}<p>{{. | plainify | emojify}}</p>{{end}}</li>
    {{end}}
    {{end}}
  </ul>
</div>

{{- end -}}
