{{- define "main" -}}


<div class="universal-wrapper">
  {{ partial "page_header.html" . }}

  {{ if .Content }}

  <div class="article-style" itemprop="articleBody">

    {{ if .Params.crosslink }}
      {{ $related := .Site.RegularPages.RelatedIndices . "crosslink" }}
      {{ .Scratch.Set "content" .Content }}
      {{ with $related }}
        {{ range . }}
        {{ $title := .Params.title }}
        {{ $permalink := .Permalink }}

        {{ $content := replaceRE (printf "(%s)/" (lower $title)) "meeeeeeeeeeeeeep" ($.Page.Scratch.Get "content") }}
        {{ $.Page.Scratch.Set "content" $content }}

        {{ $content := replaceRE (printf "(.*)\\b(%s|%s|%s)\\b" (lower $title) $title (title $title)) (printf "$1[$2](%s)" $permalink | markdownify ) ($.Page.Scratch.Get "content") }}
        {{ $.Page.Scratch.Set "content" $content }}

        {{ $content := replaceRE "meeeeeeeeeeeeeep" (printf "%s/" (lower $title)) ($.Page.Scratch.Get "content") }}
        {{ $.Page.Scratch.Set "content" $content }}

      {{ end }}
      {{ end }}
      {{ .Scratch.Get "content" | safeHTML }}
    {{ else }}
      {{ .Content }}
    {{ end }}

    {{ partial "page_metadata" (dict "page" . "is_list" 1) }}


  </div>



  {{ end }}
  <ul class="list-unstyled">
    {{ if gt (len .Sections) 0}}
    {{ range .Sections }}
    <li><h5><a href="{{.RelPermalink}}">{{.LinkTitle}}</a></h5> {{with .Params.summary}}<p>{{. | plainify | emojify}}</p>{{end}}</li>
    {{end}}
    {{end}}
  </ul>
</div>

{{- end -}}
