{{- define "main" -}}


<div class="universal-wrapper">
  {{ partial "page_header.html" . }}

  {{ if .Content }}

  <div class="article-style" itemprop="articleBody">

    {{ partial "content" . }}

    {{ partial "page_metadata" (dict "page" . "is_list" 1) }}

  </div>



  {{ end }}
  <ul class="list-unstyled">
    {{ if gt (len .Sections) 0}}
    {{ range .Sections }}
    <li><h5><a href="{{.RelPermalink}}">{{.LinkTitle}}</a></h5> {{with .Params.summary}}<p>{{. | plainify | emojify}}</p>{{end}}</li>
    {{end}}
    {{end}}
  </ul>
</div>

{{- end -}}
