{{- define "main" -}}


<div class="universal-wrapper">

  {{ partial "page_header.html" . }}


  {{ with . }}
  <h2>{{ .Params.title }}</h2>

  <div class="article-style" itemprop="articleBody">

    {{ if .Params.crosslink }}
    {{ $related := .Site.RegularPages.RelatedIndices . "crosslink" }}
    {{ .Scratch.Set "content" .Content }}
    {{ with $related }}
    {{ range . }}
    {{ $title := .Params.title }}
    {{ $permalink := .Permalink }}

    {{ $content := replaceRE (printf "(%s)/" (lower $title)) "meeeeeeeeeeeeeep" ($.Page.Scratch.Get "content") }}
    {{ $.Page.Scratch.Set "content" $content }}

    {{ $content := replaceRE (printf "(.*)\\b(%s|%s|%s)\\b" (lower $title) $title (title $title)) (printf "$1[$2](%s)" $permalink | markdownify ) ($.Page.Scratch.Get "content") }}
    {{ $.Page.Scratch.Set "content" $content }}

    {{ $content := replaceRE "meeeeeeeeeeeeeep" (printf "%s/" (lower $title)) ($.Page.Scratch.Get "content") }}
    {{ $.Page.Scratch.Set "content" $content }}

    {{ end }}
    {{ end }}
    {{ .Scratch.Get "content" | safeHTML }}
    {{ else }}
    {{ .Content }}
    {{ end }}

  </div>
  {{ end }}


  <div class="note-list">
    {{ range .Pages.ByTitle }}

      {{ if .Params.publication_types }}
        {{ $.Scratch.Set "pubtype" (index .Params.publication_types 0) }}
      {{ else }}
        {{ $.Scratch.Set "pubtype" 0 }}
      {{ end }}

      <div class="pubtype-{{ $.Scratch.Get "pubtype" }} year-{{ .Date.Format "2006" }}">
        {{ if eq $.Params.view 1 }}
          {{ partial "li_list" . }}
        {{ else if eq $.Params.view 3 }}
          {{ partial "li_card" . }}
        {{ else if eq $.Params.view 4 }}
          {{ partial "li_citation" . }}
        {{ else if eq $.Params.view 5 }}
          {{ partial "li_showcase" . }}
        {{ else if eq $.Params.view 2 }}
          {{ partial "li_compact" . }}
        {{ end }}
    </div>
    {{ end }}

    {{ if eq $.Params.view 6 }}
      <ul>
        {{ range .Pages.ByTitle }}
          {{ partial "li_li" . }}
        {{ end }}
      </ul>
    {{ end }}
  </div>

{{ partial "page_metadata" (dict "page" . "is_list" 1) }}


{{- end -}}
